body {
  background-color: #303030;
}

.room__lobby__container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background-color: black;
  border-radius: 5px;
  animation: bounce;
  animation-duration: 2s;
}

.lobby__header {
  width: 100%;
  max-width: 700px;
}

.lobbyTitle__header {
  font-size: 100px;
  letter-spacing: -3px;
}


.lobbyEd {
  color: teal;
}

.about__container {
  margin: 10px;
}


#form__container {
  width: 100%;
  max-width: 400px;
  border-radius: 0px;
  background-color: #1b1c1e;
  margin: 85px;
  transition: all .5s ease-in-out;
}

#form__container:hover {
  transform: scale(1.1);
}


.chat__title {
  font-size: 60px;
  letter-spacing: -3px;
}

.ed__title {
  color: teal;
}

#lobby__form {
  padding: 2em;
}

#form__container__header {
  border-radius: 10px 10px 0 0;
  padding: 10px;
  text-align: center;
  background-color: #303030;
  font-size: 18px;
  line-height: 0;
}

.form__field__wrapper {
  width: 100%;
  margin-bottom: 20px;
}

.form__field__wrapper label {
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
}

.form__field__wrapper input {
  box-sizing: border-box;
  color: white;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 16px;
  font-size: 15px;
  background-color: #3f434a;
  
}

.form__field__wrapper button[type='submit'] {
  margin-top: 32px;
  cursor: pointer;
  background-color: teal;
  border: none;
  color: white;
  font-size: 18px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
}

.support__container {
  margin: auto;
  width: 95%;
 
}

.support__title {
  color: black;
  font-size: medium;
  font-weight: 500;
  border-bottom: black 1px solid;
  margin: auto;
  width: 40%;
  text-align: center;
  letter-spacing: -1px;
  
}


.support__Img {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.support__Img img{
  width: 15%;
  aspect-ratio: 5/2;
  object-fit: contain;
  mix-blend-mode: color-burn;
}


@media (max-width: 900px) {
  
  .lobby__header {
    width: 100%;
    max-width: 400px;
  }

}

@media (max-width: 805px) {
  
  .lobby__header {
    display: none;
  }

}

@media (max-width: 610px) {

  #form__container {
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
    background-color: #1b1c1e;
    margin: 30px;
    transition: all .5s ease-in-out;
  }
}

@media (max-width: 400px) {

  #form__container {
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
    background-color: #1b1c1e;
    margin: 20px;
    transition: all .5s ease-in-out;
  }

  .support__container {
  margin: auto;
  width: 95%;
 
}
}


